<div *ngIf="recipe">
  <h2>{{recipe.name}}</h2>
  {{recipe.created | date:'dd‐MM‐yyyy HH:mm'}}

  <h3>Vegan</h3>
  {{recipe.vegan ? "Yes" : "No"}}

  <h3>Servings</h3>
  {{recipe.servings}}

  <h3>Ingredients</h3>
  <ul>
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ingredient}}
    </li>
  </ul>

  <h3>Instructions</h3>
  {{recipe.instructions}}

  <h2>Actions</h2>
  <button routerLink="/recipes/update/{{recipe.id}}">Update</button>
  <button (click)="deleteRecipe(recipe.id)">Delete</button>
  <button (click)="back()">Back</button>
</div>


